@using Botcoin.Utils.Static
@{
    ViewBag.Title = "Home Page";
}

<h1>Botcoin</h1>

<div class="row">
    <div class="col-sm-2">
        <h3>Moeda</h3>
        <label>Bitcoin</label>
        <input checked type="radio" name="selectedCoin" value="BTC" /><br />
        <label>Bitcoin Cash</label>
        <input type="radio" name="selectedCoin" value="BCH" /><br />
        <label>Litecoin</label>
        <input type="radio" name="selectedCoin" value="LTC" /><br />
    </div>
    <div class="col-sm-3" id="prices">
        <h3>Preços</h3>
        <label>Último: R$&nbsp;</label><span id="lastPrice">...</span><br />
        <label>Maior: R$&nbsp;</label><span id="highPrice">...</span><br />
        <label>Menor: R$&nbsp;</label><span id="lowPrice">...</span><br />
        <label>Compra: R$&nbsp;</label><span id="buyPrice">...</span><br />
        <label>Venda: R$&nbsp;</label><span id="sellPrice">...</span><br />
    </div>
    <div class="col-sm-3">
        <h3>Saldo Total</h3>
        <label>R$:&nbsp;</label><span id="totalBrl">...</span><br />
        <label>BTC:&nbsp;</label><span id="totalBtc">...</span><br />
        <label>BCH:&nbsp;</label><span id="totalBch">...</span><br />
        <label>LTC:&nbsp;</label><span id="totalLtc">...</span><br />
    </div>
    <div class="col-sm-3">
        <h3>Saldo de operação</h3>
        <label>R$:&nbsp;</label><input type="number" id="opsBrl" value="0" /><br />
        <label>BTC:&nbsp;</label><input type="number" id="opsBtc" value="0" /><br />
        <label>BCH:&nbsp;</label><input type="number" id="opsBch" value="0" /><br />
        <label>LTC:&nbsp;</label><input type="number" id="opsLtc" value="0" /><br />
    </div>
</div>

<hr />

<div class="row">
    <label>Tapi-ID</label>
    <input type="text" name="tapiId" value="" /><br />
    <label>Tapi-Key</label>
    <input type="text" name="tapiKey" value="" /><br />
    <button id="connectTapi">Conectar</button>
    <button id="setOpsBalance">Definir saldo de operação</button>
    <button id="activateBotcoin">Ativar</button>  
</div>

<hr />

<div class="row">
    <h2>Log</h2>
    <textarea readonly rows="15" id="textLogs">

    </textarea>
</div>


@section Scripts
{
    
<script>

    var BotcoinOptions = {
        ActionName: null,
        SelectedCoin: null,
        TapiId: null,
        TapiKey: null,
        TapiMethod: null,
        TotalBalance: {
            BRL: null,
            BTC: null,
            BCH: null,
            LTC: null
        },
        OpsBalance: {
            BRL: null,
            BTC: null,
            BCH: null,
            LTC: null
        },
        IsConnected: null,
        IsBalanceSet: null,
        IsActive: null
    };

    function BotcoinReset() {
        BotcoinOptions.ActionName = null;
        BotcoinOptions.SelectedCoin = null;
        BotcoinOptions.TapiId = null;
        BotcoinOptions.TapiKey= null;
        BotcoinOptions.TapiMethod = null;
        BotcoinOptions.TotalBalance = null;
        BotcoinOptions.OpsBalance = null;
        BotcoinOptions.IsConnected= null;
        BotcoinOptions.IsBalanceSet= null;
        BotcoinOptions.IsActive= null;
    };

    $("#textLogs").text("");

    setInterval(function () {
        var selCoin = $("input[name='selectedCoin']:checked").val();
        BotcoinReset();
        BotcoinOptions = {
            ActionName: "@ActionNames.GetPrices",
            SelectedCoin: selCoin
        };
        var botcoinParams = JSON.stringify(BotcoinOptions);
        $.ajax({
            url: "/api/botcoin",
            method: "GET",
            data: {
                botcoinParams
            },
            success: function (data) {
                var jsonData = JSON.parse(data);
                $("#lastPrice").text(jsonData.ticker.last);
                $("#highPrice").text(jsonData.ticker.high);
                $("#lowPrice").text(jsonData.ticker.low);
                $("#buyPrice").text(jsonData.ticker.buy);
                $("#sellPrice").text(jsonData.ticker.sell);
            }
        });
    }, 5000);

    $("input[name='selectedCoin']").change(function () {
        $("#prices label+span").text("...");
    })

    $("#connectTapi").click(function () {
        BotcoinReset();
        BotcoinOptions = {
            ActionName: "@ActionNames.ConnectTapi",
            TapiId: $("input[name='tapiId']").val(),
            TapiKey: $("input[name='tapiKey']").val(),
            TapiMethod: "@TapiMethods.GetAccountInfo"
        };
        var botcoinParams = JSON.stringify(BotcoinOptions);
        $.ajax({
            url: "/api/botcoin",
            method: "GET",
            data: {
                botcoinParams
            },
            success: function (data) {
                var jsonData = JSON.parse(data);
                if (jsonData.status_code === 100) {
                    $("#totalBrl").text(jsonData.response_data.balance.brl.available);
                    $("#totalBtc").text(jsonData.response_data.balance.btc.available);
                    $("#totalBch").text(jsonData.response_data.balance.bch.available);
                    $("#totalLtc").text(jsonData.response_data.balance.ltc.available);
                    $("#textLogs").text((index, text) => {
                        return text + "\n********CONECTADO COM SUCESSO!********";
                    });
                }
            }
        });
    });

    $("#setOpsBalance").click(function () {
        BotcoinReset();
        BotcoinOptions = {
            OpsBalance: {
                BRL: $("#opsBrl").val(),
                BTC: $("#opsBtc").val(),
                BCH: $("#opsBch").val(),
                LTC: $("#opsLtc").val()
            },
            ActionName: "@ActionNames.SetOpsBalance",
            SelectedCoin: $("input[name='selectedCoin']:checked").val()
        };
        var botcoinParams = JSON.stringify(BotcoinOptions);
        $.ajax({
            url: "/api/botcoin",
            method: "GET",
            data: {
                botcoinParams
            },
            success: function () {
                $("#opsBrl").attr("readonly", true);
                $("#opsBtc").attr("readonly", true);
                $("#opsBch").attr("readonly", true);
                $("#opsLtc").attr("readonly", true);
                $("#textLogs").text((index, text) => {
                    return text + "\n********SALDO DE OPERAÇÃO DEFINIDO!********";
                });
            }
        });
    });

    $("#activateBotcoin").click(function () {
        BotcoinReset();
        BotcoinOptions = {
            ActionName: "@ActionNames.Activate",
            IsActive: true
        };
        var botcoinParams = JSON.stringify(BotcoinOptions);
        $.ajax({
            url: "/api/botcoin",
            method: "GET",
            data: {
                botcoinParams
            },
            success: function () {
                $("#textLogs").text((index, text) => {
                    return text + "\n********BOTCOIN ATIVADO!********";
                });
            }
        });
    });

</script>

}